<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Curso Prodata</title>

    <!--imports css-->
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap-theme.css">

    <!--imports externos-->
    <script src="node_modules/angular/angular.js"></script>

    <!--imports do projeto-->
    <script src="app/config/pd-app.module.js"></script>
    <script src="app/controller/index.controller.js"></script>

</head>

<body ng-app="pdCurso" class="container">

    <div ng-controller="IndexController">

        <div class="panel panel-primary">
            <div class="panel panel-heading">
                <label>Formulário </label>
            </div>

            <div class="panel panel-body">
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-4">
                            <label>Nome:</label>
                            <input type="text" class="form-control" ng-model="entidade.nome">
                        </div>

                        <div class="col-md-4">
                            <label>Sobrenome:</label>
                            <input type="text" class="form-control" ng-model="entidade.sobrenome">
                        </div>

                        <div class="col-md-4">
                            <label>Sexo:</label>
                            <select class="form-control" ng-model="entidade.sexo">
                                <option value="M">Masculino</option>
                                <option value="F">Feminino</option>
                            </select>
                        </div>

                    </div>
                </div>
            </div>

            <div class="panel panel-footer">
                <div class="row">
                    <div class="col-md-4">
                        <button class="btn btn-primary" ng-click="salvar()">Salvar</button>
                        <button class="btn btn-warning" ng-click="limpar()">Limpar</button>
                    </div>
                </div>
            </div>
        </div>

        <table class="table">
            <tr>
                <th class="col-md-4" align="center">Nome</th>
                <th class="col-md-4" align="center">Sobrenome</th>
                <th class="col-md-2" align="center">Sexo</th>
                <th class="col-md-2" align="center">Ações</th>
            </tr>

            <tr ng-repeat="pessoa in listaPessoa">
                <td ng-bind="::pessoa.nome"></td>
                <td ng-bind="::pessoa.sobrenome"></td>
                <td ng-bind="::pessoa.sexo"></td>
                <td>
                    <button class="btn btn-primary" ng-click="editar(pessoa)">Editar</button>
                    <button class="btn btn-danger" ng-click="excluir('$index')">Excluir</button>
                </td>
            </tr>
        </table>

    </div>
</body>
</html>